<div class="container">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
        <div class="cliente-datos">
            <p>
                <label for="name">Nombre del cliente</label>
                <input id="name" type="text" formControlName="nombre">
            </p>
            <p>
                <label for="mesa">Número de mesa</label>
                <input id="mesa" type="number" formControlName="mesa">
            </p>
        </div> 
        <div class="container-btns">
            <div class="btn" (click)="closePopUp()">Cancelar</div>
            <button  type="submit" [disabled]="!clienteForm.valid">Iniciar</button>
        </div>
    </form>
</div>
