<section style= "background: inherit">
    <header></header>
    <div class="container">
        <h2>Historial</h2>
        <div>
            <app-order *ngFor= 'let pedido of ordenes' 
                [mesa]='pedido.cliente.mesa' 
                [cliente]='pedido.cliente.nombre' 
                [tiempo]='pedido.registrado'
                [orden]='pedido.items'
                [state]='pedido.estado'
                [id]='pedido.id ? pedido.id : ""'>
            </app-order>
        </div>
    </div>

</section>
