<div class="container">
    <h2>Burger Queen</h2>
    <div>
        <div class="buttons">
            <button id="btn-hist">Historial</button>
            <details>
                <summary>Config</summary>
                <button id="btn-help" (click)="onThemeChange('dark-theme')" >Dark</button>
                <button id="btn-sett" (click)="onThemeChange('light-theme')">Light</button>
            </details>
            <button id="btn-close">
                <a [routerLink] ="['../']" >X</a>
            </button>
        </div>
    </div>
</div>
