<div class="container-orden">
    <div >
        <h3>Mesa : {{mesa}}</h3>
        <h2>{{cliente}}</h2>
        <div class="clock"> {{tiempo | date:'short'}}</div>
    </div>
    <div>
        <ul>
            <li *ngFor = 'let item of orden'>
                <span>{{item.cant}}</span> 
                <span>{{item.nombre}}</span>
            </li>
            
        </ul>
    </div>
    <button *ngIf="state == 'cocina'" class="btn-cocina" (click)='preparar()'>Iniciar</button>
    <button *ngIf="state == 'preparando'" class="btn-cocina">Entregar</button>

</div>
