<div class="container-orden">
   <div class="content">
     <div >
        <h2>Mesa : {{mesa}}</h2>
        <h2>Cliente : {{cliente}}</h2>
        <div class="clock"> {{tiempo | date:'short'}}</div>
     </div>
     <div>
        <ul class="items-order">
            <li *ngFor = 'let item of orden'>
                <span>{{item.cant}}</span> 
                <span>{{item.nombre}}</span>
            </li>
            
        </ul>
     </div>
    </div>
     <button *ngIf="state == 'registrado'" class="btn-cocina" (click)='preparar()'>Iniciar</button>
     <button *ngIf="state == 'cocinando'" class="btn-cocina" (click)='terminar()'>Listo</button>
     <button *ngIf="state == 'terminado'" class="btn-cocina" (click)='entregar()'>Entregar</button>
</div>
