<div class="comanda">
    <div class="comanda-datos">
        <p>Nombre: {{nombre}}</p>
        <p> Mesa:  {{mesa}} </p> 
    </div>
    <div class="comanda-pedido">
        <table>
            <tr>
                <th>Cant.</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Opc.</th>
            </tr>
            <tr *ngFor="let item of pedido">
                <td> {{item.cant}} </td>
                <td>{{item.nombre}}</td>
                <td> $ {{item.valor}}</td>
                <td class="btns-item"> 
                    <button class="add" (click)='addItem(item)'> + </button>
                    <button class="reduce" (click)='reduceItem(item)'> - </button>
                    <button class="delete" (click)='deleteItem(item.nombre)'>
                        <img class="trash" src="assets/img/Trash.png">
                    </button>  
                </td>
            </tr>
        </table>
        <p class="total">Total: $ {{precioTotal()}}.00</p>
    </div>
    <div class="comanda-btns">
        <button class="comanda-btn" (click)="openPopUp('cancelar')">Volver</button>
        <button *ngIf="edicion == true" class="comanda-btn" (click)="editOrder()">Editar</button>
        <button *ngIf="edicion == false" class="comanda-btn" (click)="openPopUp('enviar')">Enviar</button>
    </div>
</div>
