<div class="comanda">
    <div class="comanda-datos">
        <p>Nombre: {{nombre}} Mesa:  {{mesa}} </p> 
    </div>
    <div class="comanda-pedido">
        <table>
            <tr>
                <th>Cant.</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Opc.</th>
            </tr>
            <tr *ngFor="let item of pedido">
                <td> {{item.cant}} </td>
                <td>{{item.nombre}}</td>
                <td> $ {{item.valor}}</td>
                <td> 
                    <button class="delete" (click)='deleteItem(item.nombre)'>
                        <img class="trash" src="assets/img/Trash.png">
                    </button>  
                </td>
            </tr>
        </table>
        <p>Total: $ _ _ _ _ .00</p>
    </div>
    <div class="comanda-btns">
        <button class="comanda-btn" (click)="setState('inicial')">Volver</button>
        <button class="comanda-btn">Enviar</button>
    </div>
</div>
