@import '../../services/colores.scss';

.comanda {
    margin: 2vh 10px 3vh 0;
    border-radius: 20px;
    padding: 30px;
    
    .comanda-pedido{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        min-height: 30vh;
    }

}
table {
    border: solid 1px;
    width: 100%;
    th{
        color: $main-button;
    }
}

.comanda-btn {
        width: 180px ;
        height: 60px ;
        border-radius: 8px;
        border: $main-primary solid 2px;
        color: $main-primary;
        font-size: 28px;
        background: transparent;
        margin-bottom: 10px;
        margin-right: 20px;
      &:hover {
          background: $main-primary;
          color: #ffff;
          box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
    }
}
.comanda-btns {
    display: flex;
    justify-content: flex-end;
}
.trash {
    border-radius: 10px;
    width: 30px;
}
.delete {
    background-color: transparent;
    border: none;
    & :hover {
        box-shadow: 0px 5px 5px rgba(234, 124, 105, 0.4);
    }
}