$main-primary: #D03425;
$main-secundary: #ffcb12;
$main-button: #EA7C69;

$dark-bg: #252836;
$dark-section: #1F1D2B;
$dark-text: #C4C4C4;

$light-bg: #fff;
$light-section: #ffe999;
$light-text: #000000;
