$main-primary: #D03425;
$main-secundary: #ffcb12;
$main-button: #e97b67;

$dark-bg: #252836;
$dark-section: #1F1D2B;
$dark-text: #C4C4C4;

$light-bg: #fff4d1;
$light-section: #fffaeb;
$light-text: #0d0a00;
