<<<<<<< HEAD
@import '../../services/colores.scss';
=======
<<<<<<< HEAD
$color-primary: #D03425;
$color-secondary:#FFCB12;
$background-color:#252836;
$base-color:#1F1D2B;
$text-color:#C4C4C4;

.container {
    background: $background-color;
    height: 92vh;
}
=======
@import '../../services/colores.scss';
>>>>>>> develop
>>>>>>> 7f4ba275063d827c375e3c45f403f04be4191b32

.btns {
    display: flex;
    padding: 40px 50px;
    justify-content: space-around;
}
h2 {
<<<<<<< HEAD
    color:$main-primary;
=======
<<<<<<< HEAD
    color:$color-primary;
=======
    color:$main-primary;
>>>>>>> develop
>>>>>>> 7f4ba275063d827c375e3c45f403f04be4191b32
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}
<<<<<<< HEAD

.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 550px;
    width: 100%;
}
.menu div {
    width: 50%;
    flex: 0 0  auto;
}
<<<<<<< HEAD
=======
=======
>>>>>>> develop
>>>>>>> 7f4ba275063d827c375e3c45f403f04be4191b32
