@import '../../services/colores.scss';

.btns {
    display: flex;
    padding: 40px 50px;
    justify-content: space-around;
}
h2 {
    color:$main-primary;
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 550px;
    width: 100%;
}
.menu div {
    width: 50%;
    flex: 0 0  auto;
}
