$color-primary: #D03425;
$color-secondary:#FFCB12;
$background-color:#252836;
$base-color:#1F1D2B;
$text-color:#C4C4C4;

.container {
    background: $background-color;
    height: 92vh;
}

.btns {
    display: flex;
    padding: 40px 50px;
    justify-content: space-around;
}
h2 {
    color:$color-primary;
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}
