$color-primary: #D03425;
$color-secondary:#FFCB12;
$background-color:#252836;
$base-color:#1F1D2B;
$text-color:#C4C4C4;

section {
    background: $background-color;
    height: 100vh;
}
header {
    width: 100vw;
    height: 6vh;
    background: $color-primary;
    display: flex;
    h1 {
        margin: 0;
        padding: 20px 300px;
        color:$color-secondary;
    }
    button {
        background-color: $color-secondary;
        margin-top: 2vh;
    }    
}