<<<<<<< HEAD
@import '../../services/colores.scss';

=======
<<<<<<< HEAD
=======
@import '../../services/colores.scss';

>>>>>>> develop
>>>>>>> 7f4ba275063d827c375e3c45f403f04be4191b32
.container {
    padding:20px
}
h3 {
    font-size: 24px;
    text-align: center;
}
ul {
    width: 100%
}

li {
    list-style: none;
    margin: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    font-size: 18px;
}

.prod-item {
    width:50%;
}

.btn-additem {
    width: 30px;
    height: 30px;
<<<<<<< HEAD
    background-color: $main-button;
    color: #fff;
=======
<<<<<<< HEAD
=======
    background-color: $main-button;
    color: #fff;
>>>>>>> develop
>>>>>>> 7f4ba275063d827c375e3c45f403f04be4191b32
}
.prod-precio {
    width: 60px;
    text-align: right;
}
