@import '../../services/colores.scss';

.container {
    padding:20px;
}
h3 {
    font-size: 24px;
    text-align: center;
}
ul {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    font-size: 18px;
}

.prod-item {
    width:50%;
}

.btn-additem {
    width: 30px;
    height: 30px;
    background-color: $main-button;
    color: #fff;
}
.prod-precio {
    width: 60px;
    text-align: right;
}
